.tab-pane{
    padding:10px;
    overflow-y: auto;
}
.accordion-toggle{
    text-decoration: none;
    cursor: pointer;
}
a.link{
    cursor: pointer;
    text-decoration: none;
}

ul.nav-tabs>li>a{
    cursor:pointer;
}