<div style="position: absolute;left:10px;top:10px;bottom: 10px;width:200px;">
    <accordion close-others="false">
        <accordion-group heading="博客" is-open="true" >
            <a ng-repeat="blog in blogs" class="link" ng-click="addtab(blog,'blogs')">{{blog}}</a>
        </accordion-group>
        <accordion-group heading="学习" is-open="true">
            <a ng-repeat="learn in learns" class="link" ng-click="addtab(learn,'blogs')" style="display: block;">{{learn}}</a>
        </accordion-group>
    </accordion>
</div>
<div style="position: absolute;left:220px;right:10px;top:10px;bottom: 10px;">
    <tabset>
        <tab heading="payallmoney的博客"> <div ng-include="'/module/blogs/博客内容.html'"></div></tab>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            <div ng-include="tab.url"></div>
        </tab>
    </tabset>
</div>
